In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("data8.csv")
df.head()

,Date,Venue Name,Address,Area,Name,Designation,Number,Lead Status,Mail id,Meeting Status,Accompanied with,Comments
0,5/11/2016,RD Fiesta,"Main Najafgarh Road, Near Metro Pillar No. 563...",West Delhi,Mr.Ramandeep,C.E.O,NaN,Cold,rdfiesta@gmail.com,Fresh meeting,Mohit,May-11- proposal shared
1,5/11/2016,Golden Crown/ Majestic Crown,"Near Moti Nagar Chowk, 36, Rama Rd, Block C, N...",West Delhi,Mr.Grav Arora,Owner,NaN,Hot,NaN,Deal close,Mohit,May-11- Need to contact again on 24th
2,5/11/2016,Hotel Intercity,"17A/42, W.E.A, Gurudwara Road, Opp. Jessa Ram ...",Central Delhi,Mr.Raj Gaur,G.M,NaN,Cold,NaN,Follow-up,Mohit,May-11-not interested
3,5/11/2016,Bhagwati Garden,"Desai Village, Basai, Sector 70, Noida, Uttar ...",Noida,Mr.Mohd. Ishaaq,Owner,NaN,Warm,NaN,Follow-up,Mohit,May-11-get trial for 1 month on 10%
4,5/11/2016,Red Carpet Hotel,"Bs-31 Opp Cleo County Towers, Sector 70, Noida...",Noida,Mr.Sonu,Marketing Head,8447053446,Hot,mo.noida@redcarpethotels.com,Follow-up,Mohit,May-11-followup for the payment

In [7]:
df.isna().sum()

Date                  6
Venue Name            0
Address              19
Area                 21
Name                 30
Designation          34
Number               99
Lead Status          72
Mail id             114
Meeting Status       52
Accompanied with    109
Comments             89
dtype: int64

In [8]:
df2 = df.drop(["Comments", "Address", "Number"], axis = 1).copy()

In [9]:
df2.head()

,Date,Venue Name,Area,Name,Designation,Lead Status,Mail id,Meeting Status,Accompanied with
0,5/11/2016,RD Fiesta,West Delhi,Mr.Ramandeep,C.E.O,Cold,rdfiesta@gmail.com,Fresh meeting,Mohit
1,5/11/2016,Golden Crown/ Majestic Crown,West Delhi,Mr.Grav Arora,Owner,Hot,NaN,Deal close,Mohit
2,5/11/2016,Hotel Intercity,Central Delhi,Mr.Raj Gaur,G.M,Cold,NaN,Follow-up,Mohit
3,5/11/2016,Bhagwati Garden,Noida,Mr.Mohd. Ishaaq,Owner,Warm,NaN,Follow-up,Mohit
4,5/11/2016,Red Carpet Hotel,Noida,Mr.Sonu,Marketing Head,Hot,mo.noida@redcarpethotels.com,Follow-up,Mohit

In [11]:
df2 = df2.drop(["Mail id"], axis = 1)

In [12]:
df2.isna().sum()

Date                  6
Venue Name            0
Area                 21
Name                 30
Designation          34
Lead Status          72
Meeting Status       52
Accompanied with    109
dtype: int64

In [16]:
df2["Date"] = pd.to_datetime(df2["Date"], dayfirst=True, errors="coerce")
df3 = df2.fillna({
    'Date': df2["Date"].mean(),  # Only works if dates are numeric
    'Area': 'Delhi',
    'Name': 'No Name',
    'Designation': df2["Designation"].median() if df2["Designation"].dtype in ['int64', 'float64'] else 'Unknown',
    'Lead Status': df2["Lead Status"].mode()[0] if not df2["Lead Status"].mode().empty else 'Unknown',
    'Meeting Status': 'Follow-up',
    'Accompanied with': 'Satish'
})

In [17]:
df3.head()

,Date,Venue Name,Area,Name,Designation,Lead Status,Meeting Status,Accompanied with
0,2016-11-05,RD Fiesta,West Delhi,Mr.Ramandeep,C.E.O,Cold,Fresh meeting,Mohit
1,2016-11-05,Golden Crown/ Majestic Crown,West Delhi,Mr.Grav Arora,Owner,Hot,Deal close,Mohit
2,2016-11-05,Hotel Intercity,Central Delhi,Mr.Raj Gaur,G.M,Cold,Follow-up,Mohit
3,2016-11-05,Bhagwati Garden,Noida,Mr.Mohd. Ishaaq,Owner,Warm,Follow-up,Mohit
4,2016-11-05,Red Carpet Hotel,Noida,Mr.Sonu,Marketing Head,Hot,Follow-up,Mohit

In [18]:
df3.isna().sum()

Date                0
Venue Name          0
Area                0
Name                0
Designation         0
Lead Status         0
Meeting Status      0
Accompanied with    0
dtype: int64

In [19]:
df3.isnull().sum()

Date                0
Venue Name          0
Area                0
Name                0
Designation         0
Lead Status         0
Meeting Status      0
Accompanied with    0
dtype: int64

In [20]:
df3.shape

(228, 8)

In [21]:
df.shape

(228, 12)